 section.showarea1 {
    background-color: #DEB887; visibility: hidden; font-weight: bold; text-align: center; padding-bottom: 100px;
    position: absolute; width: 600px; height: 600px; border: 5px solid #000000;
    }
section.showarea2 {
    background-color: #A52A2A; visibility: hidden; font-weight: bold; text-align: center; padding-bottom: 100px;
    position: absolute; width: 600px; height: 600px; border: 5px solid #000000;
    }
section.showarea3 {
    background-color: #8A2BE2; visibility: hidden; font-weight: bold; text-align: center; padding-bottom: 100px;
    position: absolute; width: 600px; height: 600px; border: 5px solid #000000; table-layout: inherit;
    }
body {
    background-color: #00FFFF; visibility: visible;padding-bottom: inherit;
}
h1 {
    position: relative; text-align: center; font-weight: bold;
}
footer{
    position: absolute;
    float:  inherit;
    width: 100%;
    background-color: #FFA500;
    text-align: center;
    font-style: italic;
    bottom: 0;
    left: 0;
    height: 40px;
}
cusfive{
    font-style: italic; color: red;
}